@media screen and (min-width: 768px) and (max-width: 900px) {


    header > h1 {
        font-size: 5rem;
        padding: 4rem 0;
    }

    header > nav > a {
        font-size: 1.2rem;
        font-weight: 600;
        display: inline-block;
        border: none;
        background: none;
        margin-left: 6rem;
       
    }

    #profile {
        max-width: 12rem;
        transform: translate(-50%, -35%);
    }

    #secao {
        margin-top: 6rem;
    }
    

}


@media screen and (min-width: 900px) {
   
    header > h1 {
        font-size: 7rem;
        padding-bottom: 5rem;
    }

    header > nav > a {
        font-size: 1.2rem;
        font-weight: 600;
        display: inline-block;
        border: none;
        background: none;
        margin-left: 12rem;
       
    }

    #profile {
        width: 11rem;
        transform: translate(-50%, -13%);
    }

    #secao {
        margin-top: 11rem;
    }


} 

